---
---

<!DOCTYPE html>
<html lang="en">
<head>
    {% include header.html %}
    <title>About | MB Studio Fund</title>
</head>
	<body class="brown2">
    
    <!-- major section ============================ -->
    <section class="head2">
        {% include subpage-header.html %}
        <img alt="girl1" class="img1" src="images/about_img_two.png">
    </section>
    
    <!-- major section ============================ -->
    <section class="supersec1">
        
        <div class="sec1 two-columns">

            <div class="column1">
                <img alt="Two smiling students looking at each other's laptops screens." class="mainimg" data-aos="flip-right" src="images/about_img_one.png">
            </div>

            <div class="column2 secwrite" data-aos="fade-left">
                <h1>Manitoba Studio Fund (MBSF)</h1>

                <div class="text">
                    <blockquote>
                        <p>"The Manitoba Studio Fund will provide fundamental support to aspiring BIPOC designers. With this opportunity, I believe the design sector will flourish and inspire the next generation."</p>
                        <cite>— University of Manitoba graduate, Russel Osis</cite>
                    </blockquote>
                </div>
            </div>  

        </div>

        <div class="secmid">

            <div class="positioning-icon" data-aos="fade-left">
                <img aria-hidden="true" alt="" class="smallicon" data-aos="fade-right" src="images/screen_small.png">
                <img aria-hidden="true" alt="" class="icon icon1" src="images/screen_big.png"> <img alt="discussing" class="img2" src="images/about_img_three.png">
            </div>


        </div>
    </section>
    
    <!-- major section ============================ -->
    <section class="two-columns align-top sec2" data-aos="fade-up">
        <div class="column1 sec2left add-line-above">
            <h2 class="h2special">
            In 2021, seven Manitoba design studios came together with <a href="https://descan.ca/">Design Professionals of Canada</a> to provide annual scholarships through the Manitoba Studio Fund. These scholarships support historically marginalized students, Black, Indigenous, and People of Colour, (BIPOC), who are pursuing a degree or certificate in the field of design and design communications.
            </h2>
            <p>
                The Manitoba Studio Fund was created by and for designers, to assist students from traditionally racialized and disenfranchised communities in the province.
            </p>
            <h2>
                The scholarships
            </h2>
            <p>
                Two scholarships of $2,000 each will be awarded: one to a design student at the University of Manitoba’s School of Art and one to a design student at RRC Polytechnic. Successful applicants will have applied in proper form to the DesCan Foundation and awards will be applied directly to a student’s tuition.</p>
            <p>
                The first Manitoba Studio Fund Scholarship Award recipients were distributed in July 2021. Scholarships were also awarded in 2022, 2023, and 2024 and now, in 2025 . Please see more information in our <a href="https://mbstudiofund.ca/news">News section</a>.
            </p>
        </div>
        <div class="column2 sec2right">
            <div>
                <p class="bold">Recipients of funding may also be awarded a paid work placement, or internship, at a studio or agency so that they can benefit from the first-hand experience and opportunities that come with being an integral part of a design practice.</p>
                <h2>Who can apply</h2>
                <p>This scholarship is available to students who identify as Black, Indigenous or as a person of colour and who are pursuing studies in graphic design, user experience / user information (UX/UI) or digital media. It is only available to students in Manitoba who are Canadian citizens or permanent residents and who are continuing their studies at the University of Manitoba’s School of Art or RRC Polytech.</p>
            </div>
            <div class="collegelogos">
                <img alt="University of Manitoba" class="clogo1" src="images/uom.png"> <img alt="Red River College Polytech" class="clogo2" src="images/rrc-logo.png">
            </div>
        </div>
    </section>


{% include subpage-footer.html %}