---
---

<!DOCTYPE html>
<html lang="en">
<head>
{% include header.html %}
<title>Founders | MB Studio Fund</title>
</head>
<body class="brown6 invert">

    
    <!-- major section ============================ -->
    <section class="head2">
        {% include subpage-header.html %}
        <img aria-hidden="true" alt="" class="img1" src="images/founders_img_two.png">
    </section>
    

<!-- major section ============================ -->
<section class="supersec1">
        <!-- stuff to absolute position -->
        <img alt="" class="img2" data-aos="fade-right" src="images/founders_img_three.png">

    <div class="two-columns sec1">            
        <div class="column1 positioning-icon">
            <img alt="Various students sitting around a table comparing mobile device screens and taking notes." class="mainimg" data-aos="flip-right" src="images/founders_img_one.png"> 
            <img aria-hidden="true" alt="" class="icon icon1" src="images/people_big.png">
        </div>
        <div class="column2 secwrite" data-aos="fade-left">
            <h1>Founders + Funders</h1>
            <div class="text">
                <blockquote>
                    <p>“In establishing this scholarship for Black, Indigenous and design students of colour, we hope to show our support for individuals in their design studies, encourage dialogue in the profession, and shine a bright light on the pressing need for diversity, equity and inclusion both in the academy and in the studio.”</p>
                    <cite>— Andrew Boardman CDP™, Mangrove (formerly Manoverboard)</cite>
                </blockquote>                  
            </div>
        </div>


    </div>
</section>

<!-- major section ============================ -->
<section class="sec2 aos-init aos-animate" data-aos="fade-up">
    <p>2023 Donors</p>
    <h2>Brandish, Guppy&nbsp;Design, Honest&nbsp;Agency, Mangrove, Relish&nbsp;New Brand&nbsp;Experience, 'Segun&nbsp;Olude, Sly&nbsp;Bird&nbsp;Creative</h2>
    <div class="brandlogos">
        <div class="grid-item">
            <a href="https://brandishagency.com/">
            <img alt="Brandish." class="donoricon" src="images/founders/brandish.svg">
            </a>
        </div>
        <div class="grid-item">
            <a href="https://www.guppydesign.com/">
                <img alt="Guppy Design." class="donoricon" src="images/founders/guppy-design.svg"> 
            </a>
        </div>
        <div class="grid-item">
            <a href="https://honestagency.com/">
                <img alt="Honest Agency." class="donoricon" src="images/founders/honest-agency.png">
            </a>
        </div>
        <div class="grid-item">
            <a href="https://mangrove-web.com/">
                <img alt="Mangrove Websites &amp; Brand Identities." class="donoricon" src="images/founders/mangrove-logo-edited.svg">
            </a>
        </div>
        <div class="grid-item">
            <a href="https://www.relishbranding.ca/">
                <img alt="Relish New Brand Experience Inc." class="donoricon" src="images/founders/relish.png"> 
            </a>
        </div>
        <div class="grid-item">
            <a href="http://www.segunolude.com/">
                <img alt="Segun Olude." class="donoricon" src="images/founders/segun-olude.png"> 
            </a>
        </div>
        <div class="grid-item">
            <a href="https://slybirdcreative.com/">
                <img alt="Sly Bird Creative." class="donoricon" src="images/founders/sly-bird-creative.png">
            </a>
        </div>
        <div class="grid-item">
            <p class="bordertop2">Thank you to all of our kind and generous donors and contributors who make this scholarship possible.</p>
        </div>
    </div>
</section>

{% include subpage-footer.html %}