        <!-- fixed position elements -->
        <p class="msf" aria-hidden="true">Manitoba Studio Fund</p>
        <div class="arrowh" aria-hidden="true"></div>
        <p class="year" aria-hidden="true">20<br>24</p>
        <!-- end fixed elements -->

        <footer id="footer">

            <a class="footer-logo" href="/">
                <img class="logo" src="images/msf-black.png" alt="Manitoba Studio Fund" >
                <img class="logo logo-white" src="images/msf-white.png" alt="" aria-hidden="true">
            </a>

            <div class="apply-questions ">
                <a id="emailTrigger" class="strike-hover" href="#">Questions?</a>
                <span id="email" class="email hidden">education@descan.ca</span>
            </div>

            <div class="social-media-icons">
                <a id="facebook" href="https://www.facebook.com/GDC-Foundation-827640470628889/">
                    <span class="sr-only">Facebook</span>
                </a>
                <a id="instagram" href="https://www.instagram.com/gdcfoundation/?hl=en">
                    <span class="sr-only">Instagram</span>
                </a> 
                <a id="linkedin" href="https://ca.linkedin.com/in/gdc-foundation-58b77719a">
                    <span class="sr-only">LinkedIn</span>
                </a> 
                <a id="twitter" href="https://twitter.com/getbehinddesign?lang=en">
                    <span class="sr-only">Twitter</span>
                </a>
            </div>

        </footer>

        <!--Aos Data-->
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>AOS.init({offset: 100,duration:1000,});</script> 

    </body>
</html>